/* TopButtons.css */

.top-btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .top-btn {
    padding: 8px 20px;
    margin-right: 10px;
    background-color: #f0f0f0;
    border: none;
    color: #606060;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    outline: none;
  }
  
  .top-button:hover {
    background-color: #e0e0e0;
    color: #000;
  }
  
  /* Styling for active button */
  .top-button.active {
    color: #fff;
    background-color: #c4302b;
  }
  
 